*{
	direction:rtl;
	margin:0px;
	padding:0px;
	}
@font-face{
	font-family:"siavash";
	src:url(../font/W_siavash.ttf);
	}
@font-face{
	font-family:"elham";
	src:url(../font/BElham.ttf);
	}
@font-face{
	font-family:"sans";
	src:url(../font/Iranian%20Sans.ttf);
	}
@font-face{
	font-family:"sansB";
	src:url(../font/Iranian%20Sans%20bold.ttf);
	}
	@font-face{
		font-family:"bn1";
		src:url(../font/BNazanin.ttf);
		}
	
@keyframes zoom{
	0%, 100%{
		transform:scale(1);
		}
	50%{
		transform:scale(1.1);
		}
	}	

html{
	/*background-image:url(../img/background.png);
	
	background-color:#1096E0;*/

	background-color: #1096E0;
	
	background-position:left;
	}
	ul {
		list-style: none;
	  }
	  
li {
	display: list-item;
  }

.t-menu{
	width:100%;
	justify-content:center;
	height:75px;
	position:fixed;
	background-color:rgba(255, 255, 255, 1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
	align-content:center;
	z-index:99;
	}
	/*
.t-menu{
	
	width:100%;
	justify-content:center;
	height:75px;
	position:fixed;
	background-color:rgba(255, 255, 255, 0.4);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4), inset 0 0 1px rgba(255, 255, 255, 0.6);
	align-content:center;
	z-index:99;
	
	}
	*/
a{
	color:#FFF;
	text-decoration: none;
	}

.full-menu{
	position:relative;
	align-content:center;
	justify-content:center;
	}
	
.logo{
	margin-right:20px;
	margin-top:-28px;
	position:absolute;
	}
	
nav ul{
	margin-top:32px;
	margin-right:130px;
	}

nav ul li{
	z-index:99;
	font-family:"sans";
	display:inline;
	padding:10px;
	cursor:pointer;
	height:30px;
	width:76px;
	font-size:16px;
	}

.products::before,.about::before, .contact::before, .home::before {
  content: "";
  position: absolute;
  width: 10px;;
  height: 2px;
  background-color:#1096E0;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
  margin-top:20px;
}
.home1::before{
	content: "";
	position: absolute;
	width: 200px;;
	height: 2px;
	background-color:#1096E0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
	margin-top:20px;
	
  }
  .home2::before{
	content: "";
	position: absolute;
	width: 200px;;
	height: 2px;
	background-color:#1096E0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
	margin-top:20px;
  }

.products:hover::before, .contact:hover::before {
  visibility: visible;
  transform: scaleX(1);
  width:50px;
}

.home:hover::before{
	visibility: visible;
  	transform: scaleX(1);
  	width:25px;
	}
	.home1:hover::before{
		visibility: visible;
		  transform: scaleX(1);
		  width:140px;
		  margin: 20px -10px 0px 0px;
		}
		.home2:hover::before{
			visibility: visible;
			  transform: scaleX(1);
			  width:55px;
			  margin: 20px -10px 0px 0px;
			}
	

.about:hover::before{
	visibility: visible;
  	transform: scaleX(1);
  	width:40px;
	}

.signin, .blog{
	background-color:#1096E0;
	border-radius:20px;
	color:#FFF;
	padding:8px;
	padding-top:4px;
	padding-bottom:4px;
	}
	

	.products a , .home a, .home1 a, .home2 a, .news a, .contact a, .about a{
		color:#1096E0;
		text-align:center;
		}
	

.signin:hover, .blog:hover{
	transition-duration:0.4s;
	background-color:#0CE9D8;
	}

.searchBar{
	float:left;
	width:250px;
	height:50px;
	margin-left:405px;
	margin-top:-38px;
	z-index:2;
	position:relative;
	background-color:rgba(255, 255, 255, 0);
	}
.search-icon{
	float:right;
	align-content:center;
	margin-top:8px;
	margin-right:25px;
	cursor:pointer;
	}
.search-icon.searching-icon{
	animation:ease-out;
	transform:rotate(360deg);
	transition-duration:1s;
	margin-right:0px;
	}

.search-icon:hover{
	animation:zoom 200ms ease-in;
	}
.search-box{
	background-color:rgba(255, 255, 255, 0);
	float:left;
	font-family:"elham";
	height:30px;
	width:0px;
	transition-duration:1s;
	font-size:18px;
	border-right:0px;
	border-left:0px;
	border-top:0px;
	border-bottom-color:blue;
	}
.search-box.searching-box{
	transition-duration:1s;
	width:180px;
	}
	
.search-box:hover{
	border-bottom-color:#0C7AE0;
	border-right:0px;
	border-left:0px;
	border-top:0px;
	 }

.search-box:focus{
	border-bottom-color:#0C7AE0;
	outline:none;
	 }

.searchbox{
	margin-top:-38px;
	}
.img_bak { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -230px 0px 0px -460px;
    width:900px;
	height:474px;
	border-radius: 13px 13px 13px 13px;
}
.img_bak1 { 
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -230px 0px 0px -460px;
    width:900px;
    height:500px;
}
.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 15px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn-large { padding: 9px 14px; font-size: 15px; line-height: normal; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border-radius: 20px 20px 20px 20px; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #63c1f3e5; background-image: -moz-linear-gradient(top, #0055ff, #0026ff00); background-image: -ms-linear-gradient(top, #0055ff, #0458ff); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0055ff), to(#0055ff)); background-image: -webkit-linear-gradient(top, #0055ff00, #0055ff00); background-image: -o-linear-gradient(top, #0055ff, #0055ff); background-image: linear-gradient(top, #0055ff, #0055ff); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#0055ff, endColorstr=#0055ff, GradientType=0);  border: 2px solid #0055ff00; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #0055ff; }
.btn-block { width: 30%; display:block; margin-right: 209px; }
.btn-block1 { width: 30%; display:block; margin: -0px 0px 0px -0px; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

.login { 
    position: absolute;
    top: 50%;
    left: 58%;
    margin: -280px 0 0 -0px;
    width:300px;
    height:300px;
}
.login_h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.input { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: 23px 19px 90px rgba(0, 0, 0, 0.0070);
    box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 1px 1px rgb(0, 0, 0);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
.input1 { 
    width: 100%; 
    margin-bottom: 10px; 
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: 23px 19px 90px rgba(0, 0, 0, 0.070);
    box-shadow: inset 0 1px 1px rgb(0, 0, 0), 0 1px 1px rgb(0, 0, 0);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
	margin-top: 10p;
}
input:focus { box-shadow: inset 0 1px 1px rgb(60, 255, 0), 0 1px 1px rgb(60, 255, 0); }
.logo1{
	margin-right:-65px;
	margin-top:-10px;
	position:absolute;
	}
	
.h1_a{
text-align: center;
font-family: sans;
margin: 100px 0 0 0px;

}
.p23{
	text-align: center;
	font-family: sans;
	margin-top: 8px;
	margin-bottom: 20px;
	
	
	}
* {box-sizing:border-box}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
 right: 91%; 
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #000000;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
.sli_sh{
    position: absolute;
    top: 50%;
    left: 0%;
    margin: -230px 0px 0px -10px;

}
.na11{
	margin: -30px 5px 0px 0px ;

}
.na12{
	margin: 10px 5px 0px 0px ;

}